*{
    font-family: arial;
    background-color: lightpink;
}
h1{
    color: purple;
    text-align: center;
}
.image1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.image1 img{
    width:calc(33.33% - 1em) ;
    border-radius: 10px;
    border: 1px solid black;
}
.image2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.image2 img{
    width:calc(33.33% - 1em) ;
    border-radius: 10px;
    border: 1px solid black;
}
.image3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.image3 img{
    width:calc(33.33% - 1em) ;
    border-radius: 10px;
    border: 1px solid black;
}
@media (max-width:580px) {
     img{
        display:block;
        flex-basis: 100%;
        margin-bottom: 25px;
        border-radius: 5px;
        border: 3px solid purple;
    
    
     }
    
}

